

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-size: 16px;
    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
    line-height: 1.5em;
}


#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 80px;
}

#controls, #message {
    text-align: center;
    margin: 20px 0;
}




/* Below is stuff I used in Library project - may revisit later */
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 1fr);
    
    height: 100vh;
    gap: 20px;
    background-color: white;
    border-style: groove;
}


.left-side {
    /* border: 1px solid red; */
    background-color: lightsteelblue;
    border-style: groove;
}

.right-side {
    /* border: 1px solid blue; */
    background-color: aliceblue;
    border-style: groove;
}


.card-section {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    /* border: 1px solid green; */
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    background-color: lightgray;
}
